<div class='row'>
  <div class='col l4 offset-l4 m8 offset-m2 s12'>
    <div class='card'>
      <div class='card-content'>
        <div class='center-align card-title'><%= @event.title %></div>
        <p>description:</p>
        <p><%= @event.description %></p>
        <p>category: <%= @event.category %></p>
        <p>day: <%= @event.day %></p>
        <p><%= @event.starts_at&.strftime('%H:%M') %> - <%= @event.ends_at&.strftime('%H:%M') %></p>
      </div>
      <div class='card-action right-align'>
        <%= link_to "back", root_path, class:'btn-flat' %>
        <%= link_to "edit", edit_event_path(@event), class:'btn' %>
      </div>
    </div>
  </div>
</div>