<div class='col m12 l4'>
  <div class='card'>
    <div class='card-content'>
      <div class="row">
        <div class="col l12">
          <ul class="tabs">
            <li class="tab col s6"><a href="#tasks-tab" class='active'>Tasks</a></li>
            <li class="tab col s6"><a href="#activities-tab">Activities</a></li>
          </ul>
        </div>
        <div id="tasks-tab" class="col l12">
          <table class='highlight'>
            <thead>
              <tr>
                <th>
                  Task
                </th>
                <th>Due</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% if current_user.tasks.empty? %>
                <tr>
                  <td>No tasks!</td>
                  <td></td>
                  <td></td>
                </tr>
              <% else %>
                <% current_user.tasks.order(due_at: :asc).each do |task| %>
                  <tr>
                    <td><%= link_to task.title, task_path(task) %></td>
                    <% if task.due_at.to_date < Time.now.in_time_zone("UTC").to_date %>
                      <td><%= time_ago_in_words task.due_at.to_date %> ago</td>
                    <% elsif task.due_at.to_date == Time.now.in_time_zone("UTC").to_date %>
                      <td>today</td>
                    <% else %>
                      <td>in <%= distance_of_time_in_words(Time.now.in_time_zone("UTC").to_date, task.due_at.to_date) %></td>
                    <% end %>
                    <td>
                      <%= link_to task_path(task), method: :delete do %>
                        <i class="material-icons">cancel</i>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
          <br />
          <div class='center-align'>
            <%= link_to '+ Task', new_task_path, class:'btn' %>
          </div>
        </div>
        <div id="activities-tab" class="col l12">
          <table class='highlight'>
            <thead>
              <tr>
                <th>Activity</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% if current_user.activities.empty? %>
                <tr>
                  <td>No activities!</td>
                  <td></td>
                </tr>
              <% else %>
                <% current_user.activities.order(title: :asc).each do |activity| %>
                  <tr>
                    <td><%= link_to activity.title, activity_path(activity) %></td>
                    <td>
                      <%= link_to activity_path(activity), method: :delete do %>
                        <i class="material-icons">cancel</i>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
          <br />
          <div class='center-align'>
            <%= link_to '+ Activity', new_activity_path, class:'btn' %>
          </div>
      </div>
    </div>
  </div>
</div>