<div class='row' style='margin-top:2rem'>
  <div class='col m12 l8'>
    <div class='card'>
      <div class='card-content'>
        <div class='card-title center-align'>
          Hi <%= current_user.name %>! Have a good week
          <i class="material-icons" style='position: relative; top: 3px;'>sentiment_very_satisfied</i>
        </div>
        <table>
          <thead>
            <tr>
              <th>Monday</th>
              <th>Tuesday</th>
              <th>Wednesday</th>
              <th>Thursday</th>
              <th>Friday</th>
              <th>Saturday</th>
              <th>Sunday</th>
            </tr>
          </thead>
          <tbody>
            <% number_of_rows.times.each do |n| %>
              <tr>
                <% monday = monday_events[n] %>
                <td class=<%= event_class(monday) %> >
                  <% if monday %>
                    <p><%= monday&.title %></p>
                    <p><%= monday&.starts_at&.strftime('%H:%M') %> - <%= monday&.ends_at&.strftime('%H:%M') %></p>
                    <p class='right-align'>
                      <%= link_to event_path(monday), method: :delete do %>
                        <i class="material-icons">cancel</i>
                      <% end %>
                    </p>
                  <% end %>
                </td>
                <% tuesday = tuesday_events[n] %>
                <td class=<%= event_class(tuesday) %> >
                  <% if tuesday %>
                    <p><%= link_to tuesday&.title, "#modal-#{tuesday.id}" %></p>
                    <p><%= tuesday&.starts_at&.strftime('%H:%M') %> - <%= tuesday&.ends_at&.strftime('%H:%M') %></p>
                    <p class='right-align'>
                      <%= link_to event_path(tuesday), method: :delete do %>
                        <i class="material-icons">cancel</i>
                      <% end %>
                    </p>
                  <% end %>
                </td>
                <% wednesday = wednesday_events[n] %>
                <td class=<%= event_class(wednesday) %> >
                  <% if wednesday %>
                    <p><%= wednesday&.title %></p>
                    <p><%= wednesday&.starts_at&.strftime('%H:%M') %> - <%= wednesday&.ends_at&.strftime('%H:%M') %></p>
                    <p class='right-align'>
                      <%= link_to event_path(wednesday), method: :delete do %>
                        <i class="material-icons">cancel</i>
                      <% end %>
                    </p>
                  <% end %>
                </td>
                <% thursday = thursday_events[n] %>
                <td class=<%= event_class(thursday) %> >
                  <% if thursday %>
                    <p><%= thursday&.title %></p>
                    <p><%= thursday&.starts_at&.strftime('%H:%M') %> - <%= thursday&.ends_at&.strftime('%H:%M') %></p>
                    <p class='right-align'>
                      <%= link_to event_path(thursday), method: :delete do %>
                        <i class="material-icons">cancel</i>
                      <% end %>
                    </p>
                  <% end %>
                </td>
                <% friday = friday_events[n] %>
                <td class=<%= event_class(friday) %> >
                  <% if friday %>
                    <p><%= friday&.title %></p>
                    <p><%= friday&.starts_at&.strftime('%H:%M') %> - <%= friday&.ends_at&.strftime('%H:%M') %></p>
                    <p class='right-align'>
                      <%= link_to event_path(friday), method: :delete do %>
                        <i class="material-icons">cancel</i>
                      <% end %>
                    </p>
                  <% end %>
                </td>
                <% saturday = saturday_events[n] %>
                <td class=<%= event_class(saturday) %> >
                  <% if saturday %>
                    <p><%= saturday&.title %></p>
                    <p><%= saturday&.starts_at&.strftime('%H:%M') %> - <%= saturday&.ends_at&.strftime('%H:%M') %></p>
                    <p class='right-align'>
                      <%= link_to event_path(saturday), method: :delete do %>
                        <i class="material-icons">cancel</i>
                      <% end %>
                    </p>
                  <% end %>
                </td>
                <% sunday = sunday_events[n] %>
                <td class=<%= event_class(sunday) %> >
                  <% if sunday %>
                    <p><%= sunday&.title %></p>
                    <p><%= sunday&.starts_at&.strftime('%H:%M') %> - <%= sunday&.ends_at&.strftime('%H:%M') %></p>
                    <p class='right-align'>
                      <%= link_to event_path(sunday), method: :delete do %>
                        <i class="material-icons">cancel</i>
                      <% end %>
                    </p>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <br />
        <div class='center-align'>
          <%= link_to '+ Event', new_event_path, class:'btn' %>
        </div>
      </div>
    </div>
  </div>
  <%= render "list" %>
</div>