<div class='row' style='margin-top:2rem'>
  <div class='col m12 l8'>
    <div class='card'>
      <div class='card-content'>
        <div class='card-title center-align'>
          Hi <%= current_user.name %>! Have a good week
          <i class="material-icons" style='position: relative; top: 3px;'>sentiment_very_satisfied</i>
        </div>
        <table>
          <thead>
            <tr>
              <th>Monday</th>
              <th>Tuesday</th>
              <th>Wednesday</th>
              <th>Thursday</th>
              <th>Friday</th>
              <th>Saturday</th>
              <th>Sunday</th>
            </tr>
          </thead>
          <tbody>
            <% number_of_rows.times.each do |n| %>
              <tr>
                <% monday = monday_events[n] %>
                <td class=<%= event_class(monday) %> >
                  <% if monday %>
                    <p><%= link_to monday&.title, event_path(monday) %></p>
                    <p>
                      <%= monday&.starts_at&.strftime('%H:%M') %> - <%= monday&.ends_at&.strftime('%H:%M') %>
                      <%= link_to event_path(monday), method: :delete, class: 'right' do %>
                        <i class="material-icons">cancel</i>
                      <% end %>
                    </p>
                  <% end %>
                </td>
                <% tuesday = tuesday_events[n] %>
                <td class=<%= event_class(tuesday) %> >
                  <% if tuesday %>
                    <p><%= link_to tuesday&.title, event_path(tuesday) %></p>
                    <p>
                      <%= tuesday&.starts_at&.strftime('%H:%M') %> - <%= tuesday&.ends_at&.strftime('%H:%M') %>
                      <%= link_to event_path(tuesday), method: :delete, class: 'right' do %>
                        <i class="material-icons">cancel</i>
                      <% end %>
                    </p>
                  <% end %>
                </td>
                <% wednesday = wednesday_events[n] %>
                <td class=<%= event_class(wednesday) %> >
                  <% if wednesday %>
                    <p><%= link_to wednesday&.title, event_path(wednesday) %></p>
                    <p>
                      <%= wednesday&.starts_at&.strftime('%H:%M') %> - <%= wednesday&.ends_at&.strftime('%H:%M') %>
                      <%= link_to event_path(wednesday), method: :delete, class: 'right' do %>
                        <i class="material-icons">cancel</i>
                      <% end %>
                    </p>
                  <% end %>
                </td>
                <% thursday = thursday_events[n] %>
                <td class=<%= event_class(thursday) %> >
                  <% if thursday %>
                    <p><%= link_to thursday&.title, event_path(thursday) %></p>
                    <p>
                      <%= thursday&.starts_at&.strftime('%H:%M') %> - <%= thursday&.ends_at&.strftime('%H:%M') %>
                      <%= link_to event_path(thursday), method: :delete, class: 'right' do %>
                        <i class="material-icons">cancel</i>
                      <% end %>
                    </p>
                  <% end %>
                </td>
                <% friday = friday_events[n] %>
                <td class=<%= event_class(friday) %> >
                  <% if friday %>
                    <p><%= link_to friday&.title, event_path(friday) %></p>
                    <p>
                      <%= friday&.starts_at&.strftime('%H:%M') %> - <%= friday&.ends_at&.strftime('%H:%M') %>
                      <%= link_to event_path(friday), method: :delete, class: 'right' do %>
                        <i class="material-icons">cancel</i>
                      <% end %>
                    </p>
                  <% end %>
                </td>
                <% saturday = saturday_events[n] %>
                <td class=<%= event_class(saturday) %> >
                  <% if saturday %>
                    <p><%= link_to saturday&.title, event_path(saturday) %></p>
                    <p>
                      <%= saturday&.starts_at&.strftime('%H:%M') %> - <%= saturday&.ends_at&.strftime('%H:%M') %>
                      <%= link_to event_path(saturday), method: :delete, class: 'right' do %>
                        <i class="material-icons">cancel</i>
                      <% end %>
                    </p>
                  <% end %>
                </td>
                <% sunday = sunday_events[n] %>
                <td class=<%= event_class(sunday) %> >
                  <% if sunday %>
                    <p><%= link_to sunday&.title, event_path(sunday) %></p>
                    <p>
                      <%= sunday&.starts_at&.strftime('%H:%M') %> - <%= sunday&.ends_at&.strftime('%H:%M') %>
                      <%= link_to event_path(sunday), method: :delete, class: 'right' do %>
                        <i class="material-icons">cancel</i>
                      <% end %>
                    </p>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <br />
        <div class='center-align'>
          <%= link_to '+ Event', new_event_path, class:'btn' %>
        </div>
      </div>
    </div>
  </div>
  <%= render "list" %>
</div>